<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head th:include="parts/common.html :: commonHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:include="parts/common.html :: navigation"></div>
    <form method="post" th:action="@{specificBook/{id}(id=${id})/filter/table}">
        <div class="form-group col-md-1 pt-5">
            <label> Search
                <input type="text" name="filter">
                <input class="btn btn-dark" type="submit" value="Search">
            </label>
        </div>
    </form>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th scope="col"> Unique code </th>
            <th scope="col"> In place </th>
            <th scope="col"> Date of issue</th>
            <th scope="col"> Return date </th>
            <th scope="col"> Shelf</th>
            <th scope="col"> Rank </th>
            <th scope="col"> Room </th>
            <th scope="col"> Take </th>
            <th scope="col"> Edit </th>
            <th scope="col"> Delete </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.uniqueCode}"></td>
            <td th:text="${book.inPlace} ? 'in place' : 'on hands'"></td>
            <td th:text="${book.dateOfIssue} ?: 'blank'"></td>
            <td th:text="${book.returnDate} ?: 'blank'"></td>
            <td th:text="${book.shelf}"></td>
            <td th:text="${book.rank}"></td>
            <td th:text="${book.room}"></td>
            <td>
                <form th:method="GET" th:action="@{/reader/take/{id}(id=${book.id})}">
                    <input type="submit" th:disabled="${book.inPlace == false}" value="TAKE">
                </form>
            </td><td><a th:href="@{/specificBook/edit/{id}(id=${book.id})}" >Edit</a></td>
            <td>
                <form th:method="DELETE" th:action="@{/specificBook/delete/{id}(id=${book.id})}">
                    <input type="submit" value="DELETE">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>