<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th> Unique code </th>
            <th> In place </th>
            <th> Date of issue</th>
            <th> Return date </th>
            <th> shelf</th>
            <th> rank </th>
            <th> room </th>
            <th> Edit </th>
            <th> Delete </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.uniqueCode}"></td>
            <td th:text="${book.inPlace} ? 'in place' : 'on hands'"></td>
            <td th:text="${book.dateOfIssue} ?: ''"></td>
            <td th:text="${book.returnDate} ?: ''"></td>
            <td th:text="${book.shelf}"></td>
            <td th:text="${book.rank}"></td>
            <td th:text="${book.room}"></td>
            <td><a th:href="@{/specificBook/edit(id = book.id)}">Edit</a></td>
            <td><a th:href="@{/specificBook/delete(id = book.id)}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>