<!DOCTYPE html>
<html   xmlns:th="https://www.thymeleaf.org"
        lang="en">
<head th:include="parts/common.html :: commonHead" >
    <meta charset="UTF-8">
    <title>Edit Reader</title>
</head>
    <body>
    <div th:include="parts/common.html :: navigation" ></div>
    <form th:method="post" th:action="@{/reader/add}" th:object="${reader}">
        <div class="form-group col-md-1 pt-5">
            <label>First name:
                <input type="text" name="firstName" th:field="${reader.firstName}">
            </label>
        </div>
        <div class="form-group col-md-1 ">
            <label>Last name:
                <input type="text" name="lastName" th:field="${reader.lastName}">
            </label>
        </div>
        <div class="form-group col-md-1">
            <label>Date of birth:
                <input type="date" name="dateOfBirth" th:field="${reader.dateOfBirth}">
            </label>
        </div>
        <div class="form-group col-md-1">
            <label>Address:
                <input type="text" name="address" th:field="${reader.address}">
            </label>
        </div>
        <div class="form-group col-md-1">
            <label>Phone:
                <input type="text" name="phone" th:field="${reader.phone}">
            </label>
        </div>
        <div class="form-group col-md-1">
            <input class="btn btn-dark" type="submit" value="Save changes">
        </div>
</form>
</body>
</html>